html{
	height: 100%;
	background-color: white;
	font-family: "Open Sans", sans-serif !important;
}
header{
	width: 100%;
	min-height: 400px;
	background-color: lightgray; /* For browsers that do not support gradients */
	background-image: linear-gradient(to bottom, #CCC 1%, white 99%); /* Standard syntax (must be last) */
}

@media only screen and (min-width: 1180px) {
	.navbar-nav {
		float:none;
		margin:0 auto;
		display: block;
		text-align: center;
	}

	.navbar-nav > li {
		display: inline-block;
		float:none;
	}
}

.nav-link{
	color: #111 !important;
	transition: 0.5s;
	margin-right: 10px;
}

.nav-link:hover{
	border-bottom: 1px solid #0077be;
	border-radius: 3px;
	color: #0077be !important;
	margin-top: -1px;
}
.nav-link:focus{
	color: #0077be !important;
}

@media only screen and (max-width: 1200px) {
	.navbar-collapse{
		z-index: 999999; 
		background-color: white; 
		padding: 10px;
	}
}

.sticky{
	position: fixed;
	top: 40%;
	right: 0%;
	z-index: 999999;
	transition: 1s;
}
@media only screen and (max-width: 800px) {
	.sticky{
		position: fixed;
		top: 10%;
		right: 0%;
		z-index: 999999;
	}
}

.sticky a{
	text-decoration: none !important;
}
.squarezapisz{
	color: white;
	font-size: 14px;
	background-color: brown;
	border-radius: 10px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	padding: 5px;
	width: 90px;
	max-height: 55px;
	text-align: center;
	opacity: 0.8;
	transition: 0.5s;
}
.squarezapisz:hover{
	opacity: 1;
	cursor: pointer;
}
.squarekontakt{
	font-size: 14px;
	margin-top: 10px;
	color: white;
	background-color: #2a78d1;
	border-radius: 10px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	padding: 5px;
	width: 90px;
	max-height: 55px;
	text-align: center;
	opacity: 0.7;
	transition: 0.5s;
}
.squarekontakt:hover{
	opacity: 1;
	cursor: pointer;
}
