@media only screen and (max-width: 992px) {
	.formindex{
		margin-top: -100px;
	}
}
.button{
	background-color: #0077be;
}

.listing .img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
	border-radius: 2px;
	border: 1px solid gray;
	box-shadow: 1px 1px 10px gray;
    margin-right: 10px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 300px;
    flex: 0 0 300px;
}
.link{
	color: black;
	transition: 0.3s;
}
.link:hover{
	color: #007bff !important;
	* text-decoration: none;
}
.link:visited{
	color: black;
}

.blokimg{
	max-height: 73px;
	margin-right: 10px;
	margin-left: 10px;
}