<Files .htaccess>
order allow,deny
deny from all
</Files>
RewriteEngine on
RewriteEngine On
RewriteCond %{HTTP_HOST} !^$
RewriteCond %{HTTP_HOST} !^www\. [NC]
RewriteCond %{HTTPS}s ^on(s)|
RewriteRule ^ https%1://www.%{HTTP_HOST} [R=301,L]
RewriteEngine on
Options -Indexes
#RewriteCond %{HTTP_HOST} ^bezgrosika\.pl$ [OR]
#RewriteCond %{HTTP_HOST} ^www\.bezgrosika\.pl$
#RewriteRule ^/?$ "https\:\/\/www\.bezgrosika\.pl\/" [R=301,L]


#Webd zmiana wersji php
AddHandler application/x-httpd-php55 php 
#Webd zmiana wersji php
AddHandler application/x-httpd-php73 php 
#Webd zmiana wersji php
AddHandler application/x-httpd-php73 php 
#Webd zmiana wersji php
AddHandler application/x-httpd-php55 php 
#Webd zmiana wersji php
AddHandler application/x-httpd-php55 php 
#Zmiana obslugi php wprowadzona przez administracje WEBD
